/* Atur jarak scroll agar tidak tertutup navbar */
#Jury,
#Aims,
#CompetitionObjective,
#About,
#ExploreResources,
#TermsofReference,
#ParticipantsandRequirements,
#Prizes {
  scroll-margin-top: 80px; /* sedikit lebih besar agar nyaman di desktop */
}

#ScopeofCompetition,
#Timeline,
#CompetitionSite,
#CompetitionProcess,
#JudgingCriteria {
  scroll-margin-top: 120px; /* sedikit lebih besar agar nyaman di desktop */
}

/* Responsif: jarak lebih kecil di layar mobile */
@media (max-width: 768px) {
  #Jury,
  #Aims,
  #CompetitionObjective,
  #About,
  #TermsofReference,
  #CompetitionSite,
  #ExploreResources,
  #ParticipantsandRequirements,
  #CompetitionProcess,
  #Prizes,
  #JudgingCriteria {
    scroll-margin-top: 90px;
  }
}

/* Responsif: jarak lebih kecil di layar mobile */
@media (max-width: 768px) {
  #ScopeofCompetition,
  #Timeline  {
    scroll-margin-top: 90px;
  }
}

